<li class="friend">
  <img class="picture" src="<%= friend.image %>/>
  <span class="name"><%= friend.name %></span>
  <div class="balance">
    <span class="label"><%= current_user.balance_for(friend) == 0 ? t(:we_are_even) : t(:balance) %></span>
    <span class="value"><%= current_user.balance_for(friend) == 0 ? "" : current_user.balance_for(friend) %></span>
  </div>
  <div style="clear: both;"></div>
  <table>
    <% current_user.debts_for(friend).each do |debt| %>
    <tr class="<%= current_user == debt.debitor ? "debit" : "credit" %>">
      <td><%= link_to "delete", debt, confirm: t(:are_you_sure?), method: :delete, class: "delete" %></td>
      <td><%= debt.description %></td>
      <td><%= debt.value %></td>
    </tr>
    <% end %>
  </table>
  <%= link_to t(:add_debt), new_debt_path(@debt), class: "add_debt" %>
  <%= form_for @debt do |form| %>
    <div class="field">
      <%= form.label :description %><br />
      <%= form.text_field :description %>
    </div>
    <div class="field">
      <%= form.label :value, Debt.human_attribute_name(:value) %><br />
      <%= form.text_field :value %>
    </div>
    <%= form.hidden_field :user_to_id, { :value => friend.id } %>
    <%= hidden_field_tag :current_user, current_user %> 
    <%= hidden_field_tag :friend, friend.to_json %> 
    <%= submit_tag t(:i_owe_you), :name => "debit" %> 
    <%= submit_tag t(:you_owe_me), :name => "credit" %> 
  <% end %>
</li>
