<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title>WisiszMi - Twój notesik z pożyczkami</title>
    <meta property="og:title" content="Wisisz Mi"/>
    <meta property="og:type" content="other"/>
    <meta property="og:url" content="<%= request.url %>"/>
    <meta property="og:image" content="<%= image_tag "logo_mini.png" %>"/>
    <meta property="og:site_name" content="WisiszMi"/>
    <meta property="og:description"
      content=" Wygodnie i bezboleśnie zarządzaj swoimi długami i pożyczkami.
                WisiszMi jest twoim podręcznym notesikiem.
                Notuj wszystkie kwoty które winni są ci znajomi i które ty jesteś im winien, a WisiszMi zsumuje wszystko i policzy Ci bilans."/> 
  <%= stylesheet_link_tag "application", :cache => true, :debug => Rails.env.development? %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="flash">
    <% if notice %><div class="notice"><%= raw notice %></div><% end %>
    <% if alert %><div class="alert"><%= raw alert %></div><% end %>
  </div>

  <%= yield %>

  <div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script>
    Facebook = { APP_ID: '<%= Facebook::APP_ID %>' };
    FB.init({
      appId  : Facebook.APP_ID,
      status : true, // check login status
      cookie : true, // enable cookies to allow the server to access the session
      xfbml  : true  // parse XFBML
    });
    FB.Canvas.setAutoResize();
  </script>
  <%= javascript_include_tag "application",:cache => true, :debug => Rails.env.development? %>
</body>
</html>
