<!DOCTYPE html>
<html>
<head>
  <title>WisiszMi</title>
  <%= stylesheet_link_tag    "application", :cache => true %>
  <%= javascript_include_tag "application", :cache => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="flash">
    <% if notice %><div class="notice"><%= raw notice %></div><% end %>
    <% if alert %><div class="alert"><%= raw alert %></div><% end %>
  </div>

  <%= yield %>

  <div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script>
    Facebook = { 
      APP_ID: '<%= Facebook::APP_ID %>'
    };
  </script>
</body>
</html>
